<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Items</title>
</head>
<body style="background-color:skyblue">
     <form>
        <table>
          <tr>
            <td><h3>Unit</h3></td>
            <td><h3>Details</h3></td>
          </tr>
          <tr>
            <td>Item Name</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td>Item ID</td>
            <td># {{id}}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>{{quantity}} units</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>R {{price}}</td>
          </tr>
        </table>
      </form>
</body>
</html>
