<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body style="background-color:skyblue">
<form action="http://localhost:5000/shoplist" method = "post">
    <table>
        <tr><td>Item-Name</td>
        <td><input type ="text" name ="item_name"></td></tr>
        <tr><td>Item-ID</td>
        <td><input type ="text" name ="item_id"></td></tr>
        <tr><td>Item-Quantity</td>
        <td><input type ="text" name ="item_quantity"></td></tr>
        <tr><td>Item-Price</td>
        <td><input type ="text" name ="item_price"></td></tr>
        <tr><td><input type = "submit"></td></tr>
    </table>
</form>
</body>
</html>
